function Output.init 0
call Output.initMap 0
if-goto oYAedqJvCFpADgBKFKZn
label oYAedqJvCFpADgBKFKZn
push constant 0
push constant 0
call Output.moveCursor 2
if-goto nkVXxXoyAnzFOuzXfgeL
label nkVXxXoyAnzFOuzXfgeL
push constant 0
return
function Output.initMap 1
push constant 127
call Array.new 1
pop static 0
push constant 0
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto vfrONlpFdOavWsPPIjsN
label vfrONlpFdOavWsPPIjsN
push constant 32
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto KJPkNZrjSWfebycjdBip
label KJPkNZrjSWfebycjdBip
push constant 33
push constant 12
push constant 30
push constant 30
push constant 30
push constant 12
push constant 12
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto dAKbGqyHKtJRxtzCdJhD
label dAKbGqyHKtJRxtzCdJhD
push constant 34
push constant 54
push constant 54
push constant 20
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto iDQlNYBZVjlSzVcTXKFL
label iDQlNYBZVjlSzVcTXKFL
push constant 35
push constant 0
push constant 18
push constant 18
push constant 63
push constant 18
push constant 18
push constant 63
push constant 18
push constant 18
push constant 0
push constant 0
call Output.create 12
if-goto wlQMEuQuAyWbXyVgeEKF
label wlQMEuQuAyWbXyVgeEKF
push constant 36
push constant 12
push constant 30
push constant 51
push constant 3
push constant 30
push constant 48
push constant 51
push constant 30
push constant 12
push constant 12
push constant 0
call Output.create 12
if-goto BtaxjsMJjWNUpTxlJkBF
label BtaxjsMJjWNUpTxlJkBF
push constant 37
push constant 0
push constant 0
push constant 35
push constant 51
push constant 24
push constant 12
push constant 6
push constant 51
push constant 49
push constant 0
push constant 0
call Output.create 12
if-goto XadOHZPaXMGbbWQGFEUq
label XadOHZPaXMGbbWQGFEUq
push constant 38
push constant 12
push constant 30
push constant 30
push constant 12
push constant 54
push constant 27
push constant 27
push constant 27
push constant 54
push constant 0
push constant 0
call Output.create 12
if-goto JjkctxvHvFdRZRzzgRAS
label JjkctxvHvFdRZRzzgRAS
push constant 39
push constant 12
push constant 12
push constant 6
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto HtFpUkxArbwlpKsNfjKX
label HtFpUkxArbwlpKsNfjKX
push constant 40
push constant 24
push constant 12
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 12
push constant 24
push constant 0
push constant 0
call Output.create 12
if-goto nxGeIdJUJnzCJqGuweXA
label nxGeIdJUJnzCJqGuweXA
push constant 41
push constant 6
push constant 12
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 12
push constant 6
push constant 0
push constant 0
call Output.create 12
if-goto zAYWhQUfZCpCXIXQJXGO
label zAYWhQUfZCpCXIXQJXGO
push constant 42
push constant 0
push constant 0
push constant 0
push constant 51
push constant 30
push constant 63
push constant 30
push constant 51
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto UamIQddrFldmTnxaVyfE
label UamIQddrFldmTnxaVyfE
push constant 43
push constant 0
push constant 0
push constant 0
push constant 12
push constant 12
push constant 63
push constant 12
push constant 12
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto DHsRVNlnedPqjfOyXwmo
label DHsRVNlnedPqjfOyXwmo
push constant 44
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 12
push constant 12
push constant 6
push constant 0
call Output.create 12
if-goto OCJfiVEaYwPiPHivONQF
label OCJfiVEaYwPiPHivONQF
push constant 45
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 63
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto ayeUDvETFGUYDbVBkQuc
label ayeUDvETFGUYDbVBkQuc
push constant 46
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto qTtAhfTwLkrelLKkpZbc
label qTtAhfTwLkrelLKkpZbc
push constant 47
push constant 0
push constant 0
push constant 32
push constant 48
push constant 24
push constant 12
push constant 6
push constant 3
push constant 1
push constant 0
push constant 0
call Output.create 12
if-goto wysvFBGxcTvRRHoPFDnJ
label wysvFBGxcTvRRHoPFDnJ
push constant 48
push constant 12
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto WRjqqiVHvePMQwfeGoNh
label WRjqqiVHvePMQwfeGoNh
push constant 49
push constant 12
push constant 14
push constant 15
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto QtDtybnYbfgJRsCmzPqL
label QtDtybnYbfgJRsCmzPqL
push constant 50
push constant 30
push constant 51
push constant 48
push constant 24
push constant 12
push constant 6
push constant 3
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto sTMvFwABqbYdDblKtcGf
label sTMvFwABqbYdDblKtcGf
push constant 51
push constant 30
push constant 51
push constant 48
push constant 48
push constant 28
push constant 48
push constant 48
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto XLPywtbloKYWfHFxcMDF
label XLPywtbloKYWfHFxcMDF
push constant 52
push constant 16
push constant 24
push constant 28
push constant 26
push constant 25
push constant 63
push constant 24
push constant 24
push constant 60
push constant 0
push constant 0
call Output.create 12
if-goto IoYjiYNlcvNoKgltKRqh
label IoYjiYNlcvNoKgltKRqh
push constant 53
push constant 63
push constant 3
push constant 3
push constant 31
push constant 48
push constant 48
push constant 48
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto IwNwwYnhaKovKYhpAwOl
label IwNwwYnhaKovKYhpAwOl
push constant 54
push constant 28
push constant 6
push constant 3
push constant 3
push constant 31
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto wXjXLkFJtsjyjRGTYCYd
label wXjXLkFJtsjyjRGTYCYd
push constant 55
push constant 63
push constant 49
push constant 48
push constant 48
push constant 24
push constant 12
push constant 12
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto oxDSRYEExRDPvVDzYnPG
label oxDSRYEExRDPvVDzYnPG
push constant 56
push constant 30
push constant 51
push constant 51
push constant 51
push constant 30
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto cCmBDHWzBXitiEgkVsYU
label cCmBDHWzBXitiEgkVsYU
push constant 57
push constant 30
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 48
push constant 24
push constant 14
push constant 0
push constant 0
call Output.create 12
if-goto uHZnMsvBbPigqEfjwslN
label uHZnMsvBbPigqEfjwslN
push constant 58
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto rAwJadSFAcUgaWtdUgNt
label rAwJadSFAcUgaWtdUgNt
push constant 59
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
push constant 12
push constant 12
push constant 6
push constant 0
push constant 0
call Output.create 12
if-goto OtqZZnMXOhZYZeQkOwDa
label OtqZZnMXOhZYZeQkOwDa
push constant 60
push constant 0
push constant 0
push constant 24
push constant 12
push constant 6
push constant 3
push constant 6
push constant 12
push constant 24
push constant 0
push constant 0
call Output.create 12
if-goto PKTWpGFLfoahXdPhuMNg
label PKTWpGFLfoahXdPhuMNg
push constant 61
push constant 0
push constant 0
push constant 0
push constant 63
push constant 0
push constant 0
push constant 63
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto rrbDKhuPwwzyAjGOCsJe
label rrbDKhuPwwzyAjGOCsJe
push constant 62
push constant 0
push constant 0
push constant 3
push constant 6
push constant 12
push constant 24
push constant 12
push constant 6
push constant 3
push constant 0
push constant 0
call Output.create 12
if-goto YVGvDXvRYJdqaIWClRjC
label YVGvDXvRYJdqaIWClRjC
push constant 64
push constant 30
push constant 51
push constant 51
push constant 59
push constant 59
push constant 59
push constant 27
push constant 3
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto CJXRRSZFyVMUironCzij
label CJXRRSZFyVMUironCzij
push constant 63
push constant 30
push constant 51
push constant 51
push constant 24
push constant 12
push constant 12
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto zbQWxCJiAZvTgHWBFPRv
label zbQWxCJiAZvTgHWBFPRv
push constant 65
push constant 12
push constant 30
push constant 51
push constant 51
push constant 63
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto MldKYXtiKlKedyEGnCIP
label MldKYXtiKlKedyEGnCIP
push constant 66
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 0
push constant 0
call Output.create 12
if-goto gnEWmcdyzcqrwkCNjBRL
label gnEWmcdyzcqrwkCNjBRL
push constant 67
push constant 28
push constant 54
push constant 35
push constant 3
push constant 3
push constant 3
push constant 35
push constant 54
push constant 28
push constant 0
push constant 0
call Output.create 12
if-goto YXflxoWEstKIzKiQFcES
label YXflxoWEstKIzKiQFcES
push constant 68
push constant 15
push constant 27
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 27
push constant 15
push constant 0
push constant 0
call Output.create 12
if-goto pJctGNFTQiartqPAfueL
label pJctGNFTQiartqPAfueL
push constant 69
push constant 63
push constant 51
push constant 35
push constant 11
push constant 15
push constant 11
push constant 35
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto cbvLNSbrBSQvdVnKCaZr
label cbvLNSbrBSQvdVnKCaZr
push constant 70
push constant 63
push constant 51
push constant 35
push constant 11
push constant 15
push constant 11
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
call Output.create 12
if-goto gXfPuQLKnyZlrPekIIqq
label gXfPuQLKnyZlrPekIIqq
push constant 71
push constant 28
push constant 54
push constant 35
push constant 3
push constant 59
push constant 51
push constant 51
push constant 54
push constant 44
push constant 0
push constant 0
call Output.create 12
if-goto imYjpkKbNTWumylmKUyu
label imYjpkKbNTWumylmKUyu
push constant 72
push constant 51
push constant 51
push constant 51
push constant 51
push constant 63
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto RfcrESkqEuduhUXfiySe
label RfcrESkqEuduhUXfiySe
push constant 73
push constant 30
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto WfXiGaPapGJvzkmjMWjM
label WfXiGaPapGJvzkmjMWjM
push constant 74
push constant 60
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 27
push constant 27
push constant 14
push constant 0
push constant 0
call Output.create 12
if-goto BxvRrkJhjstVhnJFIJSY
label BxvRrkJhjstVhnJFIJSY
push constant 75
push constant 51
push constant 51
push constant 51
push constant 27
push constant 15
push constant 27
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto WOiUEsupYCToNDDvwGrq
label WOiUEsupYCToNDDvwGrq
push constant 76
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 35
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto KFMYaFpujOHsyVyPKdnd
label KFMYaFpujOHsyVyPKdnd
push constant 77
push constant 33
push constant 51
push constant 63
push constant 63
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto QECyrkyRQQHuwvcMnaHw
label QECyrkyRQQHuwvcMnaHw
push constant 78
push constant 51
push constant 51
push constant 55
push constant 55
push constant 63
push constant 59
push constant 59
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto vrkVFpXLHjbQAZMbQqxR
label vrkVFpXLHjbQAZMbQqxR
push constant 79
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto wHcKTOPMAwUxNwcaNFUd
label wHcKTOPMAwUxNwcaNFUd
push constant 80
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 3
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
call Output.create 12
if-goto fkGAgSEcPmfCJirdawsq
label fkGAgSEcPmfCJirdawsq
push constant 81
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 63
push constant 59
push constant 30
push constant 48
push constant 0
call Output.create 12
if-goto HTjOZvZpfZUuRbaXVWSw
label HTjOZvZpfZUuRbaXVWSw
push constant 82
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 27
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto VlLOGnVDUkrbYAjtzRes
label VlLOGnVDUkrbYAjtzRes
push constant 83
push constant 30
push constant 51
push constant 51
push constant 6
push constant 28
push constant 48
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto IgqtQHASsdxnrNvavMHE
label IgqtQHASsdxnrNvavMHE
push constant 84
push constant 63
push constant 63
push constant 45
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto plTNMUngDmcrtQNpSviK
label plTNMUngDmcrtQNpSviK
push constant 85
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto eRDiegktSulyzAhoOjIP
label eRDiegktSulyzAhoOjIP
push constant 86
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 30
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto mGvqTLHYNYbeUMnPcGaz
label mGvqTLHYNYbeUMnPcGaz
push constant 87
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 63
push constant 63
push constant 63
push constant 18
push constant 0
push constant 0
call Output.create 12
if-goto duUPdZtSBVZekLnryoOB
label duUPdZtSBVZekLnryoOB
push constant 88
push constant 51
push constant 51
push constant 30
push constant 30
push constant 12
push constant 30
push constant 30
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto RmpVlpVxLNaBqIXyipud
label RmpVlpVxLNaBqIXyipud
push constant 89
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto UDxXgbmFxqtsgkGOWLnR
label UDxXgbmFxqtsgkGOWLnR
push constant 90
push constant 63
push constant 51
push constant 49
push constant 24
push constant 12
push constant 6
push constant 35
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto uiniSTPtlhqWJNGdRcPi
label uiniSTPtlhqWJNGdRcPi
push constant 91
push constant 30
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto CkHhBYnPUdbFCJdvjbCr
label CkHhBYnPUdbFCJdvjbCr
push constant 92
push constant 0
push constant 0
push constant 1
push constant 3
push constant 6
push constant 12
push constant 24
push constant 48
push constant 32
push constant 0
push constant 0
call Output.create 12
if-goto iXNkWfIuYGiyEKrTClXG
label iXNkWfIuYGiyEKrTClXG
push constant 93
push constant 30
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto VKzyAUQWaVDcBwApXppv
label VKzyAUQWaVDcBwApXppv
push constant 94
push constant 8
push constant 28
push constant 54
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto vnObHPAAImjLAcLnTIuv
label vnObHPAAImjLAcLnTIuv
push constant 95
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 63
push constant 0
call Output.create 12
if-goto wBuMLgADzqBdvrpjzPjO
label wBuMLgADzqBdvrpjzPjO
push constant 96
push constant 6
push constant 12
push constant 24
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto hlnIcUqCZrGkTHWKKQzw
label hlnIcUqCZrGkTHWKKQzw
push constant 97
push constant 0
push constant 0
push constant 0
push constant 14
push constant 24
push constant 30
push constant 27
push constant 27
push constant 54
push constant 0
push constant 0
call Output.create 12
if-goto HPpCWMjQfVYFMTRawJaF
label HPpCWMjQfVYFMTRawJaF
push constant 98
push constant 3
push constant 3
push constant 3
push constant 15
push constant 27
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto kprypDCUOHVyFcqVLqCu
label kprypDCUOHVyFcqVLqCu
push constant 99
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 3
push constant 3
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto stleMdqcodSEVifCHeYX
label stleMdqcodSEVifCHeYX
push constant 100
push constant 48
push constant 48
push constant 48
push constant 60
push constant 54
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto xLLJUKJGLBukSebXpnGR
label xLLJUKJGLBukSebXpnGR
push constant 101
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 63
push constant 3
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto fAPwmKYvhKMEWgbRNAmA
label fAPwmKYvhKMEWgbRNAmA
push constant 102
push constant 28
push constant 54
push constant 38
push constant 6
push constant 15
push constant 6
push constant 6
push constant 6
push constant 15
push constant 0
push constant 0
call Output.create 12
if-goto TlJUUfQTlrRQPJiXadqU
label TlJUUfQTlrRQPJiXadqU
push constant 103
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 51
push constant 30
push constant 0
call Output.create 12
if-goto ZRHAhllEgnyxwHgXeIFT
label ZRHAhllEgnyxwHgXeIFT
push constant 104
push constant 3
push constant 3
push constant 3
push constant 27
push constant 55
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto nVyJAclXjuNpaZPLOvCh
label nVyJAclXjuNpaZPLOvCh
push constant 105
push constant 12
push constant 12
push constant 0
push constant 14
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto VdvbOWfXjVGIVsRMBKwm
label VdvbOWfXjVGIVsRMBKwm
push constant 106
push constant 48
push constant 48
push constant 0
push constant 56
push constant 48
push constant 48
push constant 48
push constant 48
push constant 51
push constant 30
push constant 0
call Output.create 12
if-goto RHgcWjpyqprrjqZbdAUl
label RHgcWjpyqprrjqZbdAUl
push constant 107
push constant 3
push constant 3
push constant 3
push constant 51
push constant 27
push constant 15
push constant 15
push constant 27
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto WybISaMdcHDOTQkxqrXK
label WybISaMdcHDOTQkxqrXK
push constant 108
push constant 14
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto htttwdyMlycCTsUrbDoM
label htttwdyMlycCTsUrbDoM
push constant 109
push constant 0
push constant 0
push constant 0
push constant 29
push constant 63
push constant 43
push constant 43
push constant 43
push constant 43
push constant 0
push constant 0
call Output.create 12
if-goto UqNbkbUpbBbvbusohRBA
label UqNbkbUpbBbvbusohRBA
push constant 110
push constant 0
push constant 0
push constant 0
push constant 29
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto bVzTkbGkYBKfPpcTCNdT
label bVzTkbGkYBKfPpcTCNdT
push constant 111
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto oJKywQrFCxvFADlhUXpf
label oJKywQrFCxvFADlhUXpf
push constant 112
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 31
push constant 3
push constant 3
push constant 0
call Output.create 12
if-goto tVtQBYHnCttOHwtKVQKF
label tVtQBYHnCttOHwtKVQKF
push constant 113
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 48
push constant 0
call Output.create 12
if-goto ipfGkagsTyxMHsFHULjv
label ipfGkagsTyxMHsFHULjv
push constant 114
push constant 0
push constant 0
push constant 0
push constant 29
push constant 55
push constant 51
push constant 3
push constant 3
push constant 7
push constant 0
push constant 0
call Output.create 12
if-goto teFOlyxurXDENkbWJWRa
label teFOlyxurXDENkbWJWRa
push constant 115
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 6
push constant 24
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto UeFVoxdZcwYtfYzGXlQD
label UeFVoxdZcwYtfYzGXlQD
push constant 116
push constant 4
push constant 6
push constant 6
push constant 15
push constant 6
push constant 6
push constant 6
push constant 54
push constant 28
push constant 0
push constant 0
call Output.create 12
if-goto OxQaCdmmlxTsQuQCzsYn
label OxQaCdmmlxTsQuQCzsYn
push constant 117
push constant 0
push constant 0
push constant 0
push constant 27
push constant 27
push constant 27
push constant 27
push constant 27
push constant 54
push constant 0
push constant 0
call Output.create 12
if-goto sKVSfHBUecyuYmVMpdei
label sKVSfHBUecyuYmVMpdei
push constant 118
push constant 0
push constant 0
push constant 0
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto FEQWtXKElNLNQFKRLreX
label FEQWtXKElNLNQFKRLreX
push constant 119
push constant 0
push constant 0
push constant 0
push constant 51
push constant 51
push constant 51
push constant 63
push constant 63
push constant 18
push constant 0
push constant 0
call Output.create 12
if-goto MNpzVRuGabeojFUMkkTp
label MNpzVRuGabeojFUMkkTp
push constant 120
push constant 0
push constant 0
push constant 0
push constant 51
push constant 30
push constant 12
push constant 12
push constant 30
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto fJRvHIKMujKWQhjgpUkE
label fJRvHIKMujKWQhjgpUkE
push constant 121
push constant 0
push constant 0
push constant 0
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 24
push constant 15
push constant 0
call Output.create 12
if-goto aqEGYQBlUWuhZaJPJKuH
label aqEGYQBlUWuhZaJPJKuH
push constant 122
push constant 0
push constant 0
push constant 0
push constant 63
push constant 27
push constant 12
push constant 6
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto QTmzyNkLxlOUtKGlPScZ
label QTmzyNkLxlOUtKGlPScZ
push constant 123
push constant 56
push constant 12
push constant 12
push constant 12
push constant 7
push constant 12
push constant 12
push constant 12
push constant 56
push constant 0
push constant 0
call Output.create 12
if-goto BcCBAhPzJsWuTViCGgdc
label BcCBAhPzJsWuTViCGgdc
push constant 124
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto MIqOdAqHxwKKpIKeUrPK
label MIqOdAqHxwKKpIKeUrPK
push constant 125
push constant 7
push constant 12
push constant 12
push constant 12
push constant 56
push constant 12
push constant 12
push constant 12
push constant 7
push constant 0
push constant 0
call Output.create 12
if-goto uMFoeAtpPsbmKYenFbTT
label uMFoeAtpPsbmKYenFbTT
push constant 126
push constant 38
push constant 45
push constant 25
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto jqBuSjiXJGPfHBAtIaQI
label jqBuSjiXJGPfHBAtIaQI
push constant 0
return
function Output.create 1
push constant 11
call Array.new 1
pop local 0
push local 0
push static 0
push argument 0
add
pop pointer 1
pop that 0
push argument 1
push local 0
push constant 0
add
pop pointer 1
pop that 0
push argument 2
push local 0
push constant 1
add
pop pointer 1
pop that 0
push argument 3
push local 0
push constant 2
add
pop pointer 1
pop that 0
push argument 4
push local 0
push constant 3
add
pop pointer 1
pop that 0
push argument 5
push local 0
push constant 4
add
pop pointer 1
pop that 0
push argument 6
push local 0
push constant 5
add
pop pointer 1
pop that 0
push argument 7
push local 0
push constant 6
add
pop pointer 1
pop that 0
push argument 8
push local 0
push constant 7
add
pop pointer 1
pop that 0
push argument 9
push local 0
push constant 8
add
pop pointer 1
pop that 0
push argument 10
push local 0
push constant 9
add
pop pointer 1
pop that 0
push argument 11
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 0
return
function Output.getMap 0
push argument 0
push constant 32
lt
push argument 0
push constant 126
gt
or
not
if-goto fAbQBnzZdzSexpdMZkpr
push constant 0
pop argument 0
goto jtEiFfHOdJOUccPVecOc
label fAbQBnzZdzSexpdMZkpr
label jtEiFfHOdJOUccPVecOc
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Output.moveCursor 7
push argument 0
pop static 1
push argument 1
pop static 2
push static 1
push constant 11
call Math.multiply 2
pop local 1
push static 2
push constant 2
call Math.divide 2
pop local 2
push static 2
push constant 1
and
push constant 0
eq
not
if-goto ZdbmaEgMGLHWSvjEQPwi
push constant 255
pop local 3
push local 3
not
pop local 3
push constant 1
pop local 4
goto pXTAGDndArHnEHogRggd
label ZdbmaEgMGLHWSvjEQPwi
push constant 255
pop local 3
push constant 256
pop local 4
label pXTAGDndArHnEHogRggd
label qbinJeTtlgtDYHnucbyw
push local 0
push constant 11
lt
not
if-goto nFPvwMeEQDROeGMAbFsH
push constant 16384
push local 1
push constant 32
call Math.multiply 2
add
push local 2
add
pop local 5
push local 5
call Memory.peek 1
pop local 6
push local 6
push local 3
and
push constant 0
push local 4
call Math.multiply 2
add
pop local 6
push local 5
push local 6
call Memory.poke 2
if-goto kkDsxZRSLLGhEZIBeWVe
label kkDsxZRSLLGhEZIBeWVe
push local 1
push constant 1
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto qbinJeTtlgtDYHnucbyw
label nFPvwMeEQDROeGMAbFsH
push constant 0
return
function Output.printChar 10
push argument 0
call Output.getMap 1
pop local 1
push static 1
push constant 11
call Math.multiply 2
pop local 4
push static 2
push constant 2
call Math.divide 2
pop local 5
push static 2
push constant 1
and
push constant 0
eq
not
if-goto fafXJfgmqktzbOCiQLau
push constant 255
pop local 2
push local 2
not
pop local 2
push constant 1
pop local 3
goto GDFbeKNHJolNsuwoOcmA
label fafXJfgmqktzbOCiQLau
push constant 255
pop local 2
push constant 256
pop local 3
label GDFbeKNHJolNsuwoOcmA
label cqSIDlZAwuuhIXHAHblx
push local 0
push constant 11
lt
not
if-goto RAPWlUPHXjXsSPNICWnb
push constant 16384
push local 4
push constant 32
call Math.multiply 2
add
push local 5
add
pop local 6
push local 6
call Memory.peek 1
pop local 7
push local 7
push local 2
and
push local 1
push local 0
add
pop pointer 1
push that 0
push local 3
call Math.multiply 2
add
pop local 7
push local 6
push local 7
call Memory.poke 2
if-goto dDRZYzxuGpuyYyLPBimq
label dDRZYzxuGpuyYyLPBimq
push local 4
push constant 1
add
pop local 4
push local 0
push constant 1
add
pop local 0
goto cqSIDlZAwuuhIXHAHblx
label RAPWlUPHXjXsSPNICWnb
push static 2
push constant 63
eq
not
if-goto gOebSyJtjnGasufxloZx
push static 1
push constant 1
add
pop local 8
push constant 0
pop local 9
goto owsgzSlsgBtnFkXosTOq
label gOebSyJtjnGasufxloZx
push static 1
pop local 8
push static 2
push constant 1
add
pop local 9
label owsgzSlsgBtnFkXosTOq
push local 8
push constant 23
eq
not
if-goto akEPMaCGxbiuPBMcxAHf
push constant 0
pop local 8
goto pCFbDAedwoIvYYKBkiop
label akEPMaCGxbiuPBMcxAHf
label pCFbDAedwoIvYYKBkiop
push local 8
push local 9
call Output.moveCursor 2
if-goto jugKbBSKSYsZiwyHxUbt
label jugKbBSKSYsZiwyHxUbt
push constant 0
return
function Output.printString 2
push argument 0
call String.length 1
pop local 1
label NJQEqQYGlwIOjKWJwApb
push local 0
push local 1
lt
not
if-goto YzIkvrsbUPjDFZZMwAIK
push argument 0
push local 0
call String.charAt 2
call Output.printChar 1
if-goto yIrqTlTXgyElVsdhKAvC
label yIrqTlTXgyElVsdhKAvC
push local 0
push constant 1
add
pop local 0
goto NJQEqQYGlwIOjKWJwApb
label YzIkvrsbUPjDFZZMwAIK
push constant 0
return
function Output.printInt 1
push constant 6
call String.new 1
pop local 0
push local 0
push argument 0
call String.setInt 2
if-goto yTyzzFtRanPjvsUBkeuE
label yTyzzFtRanPjvsUBkeuE
push local 0
call Output.printString 1
if-goto KrsqavDFadOuLpmNHovL
label KrsqavDFadOuLpmNHovL
push constant 0
return
function Output.println 1
push static 1
push constant 1
add
pop local 0
push local 0
push constant 23
eq
not
if-goto ZbcLAGXhwaiqEJKxSqIe
push constant 0
pop local 0
goto MONETiCDUhCjoHnIiTXS
label ZbcLAGXhwaiqEJKxSqIe
label MONETiCDUhCjoHnIiTXS
push local 0
push constant 0
call Output.moveCursor 2
if-goto jAZQkHkbdsTwCgsCXFOY
label jAZQkHkbdsTwCgsCXFOY
push constant 0
return
function Output.backSpace 2
push static 2
push constant 0
eq
not
if-goto rNHaeHmtnFlgvnmaNlMO
push static 1
push constant 1
sub
pop local 0
push constant 63
pop local 1
goto XSbMkgRCcRdmUuYGxrcT
label rNHaeHmtnFlgvnmaNlMO
push static 1
pop local 0
push static 2
push constant 1
sub
pop local 1
label XSbMkgRCcRdmUuYGxrcT
push local 0
push constant 0
lt
not
if-goto PbbIRmlCGhxwwVoXhscw
push local 0
push constant 23
add
pop local 0
goto OhvBKlJQiTFUjWyOyDCu
label PbbIRmlCGhxwwVoXhscw
label OhvBKlJQiTFUjWyOyDCu
push local 0
push local 1
call Output.moveCursor 2
if-goto FpdrOkBsUhBlyUZwhgJT
label FpdrOkBsUhBlyUZwhgJT
push constant 0
return
