function Output.init 0
call Output.initMap 0
if-goto lcArcjJECjzmTNpMnJnh
label lcArcjJECjzmTNpMnJnh
push constant 0
push constant 0
call Output.moveCursor 2
if-goto zEqRdzvOXwuzNNbSAPtW
label zEqRdzvOXwuzNNbSAPtW
push constant 0
return
function Output.initMap 1
push constant 127
call Array.new 1
pop static 0
push constant 0
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto KwtVrYrzGrGClJacnJqY
label KwtVrYrzGrGClJacnJqY
push constant 32
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto XciiRwhBROAjjdjDmdtG
label XciiRwhBROAjjdjDmdtG
push constant 33
push constant 12
push constant 30
push constant 30
push constant 30
push constant 12
push constant 12
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto zPeSqYqfWvGpKegfyWEw
label zPeSqYqfWvGpKegfyWEw
push constant 34
push constant 54
push constant 54
push constant 20
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto DtJOSovjuIrkLbcIHNvh
label DtJOSovjuIrkLbcIHNvh
push constant 35
push constant 0
push constant 18
push constant 18
push constant 63
push constant 18
push constant 18
push constant 63
push constant 18
push constant 18
push constant 0
push constant 0
call Output.create 12
if-goto ubMPNkgYGQUrVbPLkPLS
label ubMPNkgYGQUrVbPLkPLS
push constant 36
push constant 12
push constant 30
push constant 51
push constant 3
push constant 30
push constant 48
push constant 51
push constant 30
push constant 12
push constant 12
push constant 0
call Output.create 12
if-goto zJNMFwJBpGBvPjMLNAFQ
label zJNMFwJBpGBvPjMLNAFQ
push constant 37
push constant 0
push constant 0
push constant 35
push constant 51
push constant 24
push constant 12
push constant 6
push constant 51
push constant 49
push constant 0
push constant 0
call Output.create 12
if-goto kXwBKfmbvGlyPjwFvAyh
label kXwBKfmbvGlyPjwFvAyh
push constant 38
push constant 12
push constant 30
push constant 30
push constant 12
push constant 54
push constant 27
push constant 27
push constant 27
push constant 54
push constant 0
push constant 0
call Output.create 12
if-goto ZRXesYQRoGPEoEDEiAjZ
label ZRXesYQRoGPEoEDEiAjZ
push constant 39
push constant 12
push constant 12
push constant 6
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto sMIwwvqKTXyggFWObaHA
label sMIwwvqKTXyggFWObaHA
push constant 40
push constant 24
push constant 12
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 12
push constant 24
push constant 0
push constant 0
call Output.create 12
if-goto wcxSviFHLhDCKsYjVKJr
label wcxSviFHLhDCKsYjVKJr
push constant 41
push constant 6
push constant 12
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 12
push constant 6
push constant 0
push constant 0
call Output.create 12
if-goto lejfbgtWSZKKICqiaKGe
label lejfbgtWSZKKICqiaKGe
push constant 42
push constant 0
push constant 0
push constant 0
push constant 51
push constant 30
push constant 63
push constant 30
push constant 51
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto FMCIIXAQmicaxavQeTii
label FMCIIXAQmicaxavQeTii
push constant 43
push constant 0
push constant 0
push constant 0
push constant 12
push constant 12
push constant 63
push constant 12
push constant 12
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto cEzBeQFtleXKzCQPeDLi
label cEzBeQFtleXKzCQPeDLi
push constant 44
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 12
push constant 12
push constant 6
push constant 0
call Output.create 12
if-goto LIdLDAEcNTDZQXmCPMFd
label LIdLDAEcNTDZQXmCPMFd
push constant 45
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 63
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto zCzhofpiokTJztZLhAwQ
label zCzhofpiokTJztZLhAwQ
push constant 46
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto VTyHcVFbYoukVoLZWtOv
label VTyHcVFbYoukVoLZWtOv
push constant 47
push constant 0
push constant 0
push constant 32
push constant 48
push constant 24
push constant 12
push constant 6
push constant 3
push constant 1
push constant 0
push constant 0
call Output.create 12
if-goto VzyVUWuYqJHallKnXDuc
label VzyVUWuYqJHallKnXDuc
push constant 48
push constant 12
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto GQNPcJNWzdKhwDLgfDdm
label GQNPcJNWzdKhwDLgfDdm
push constant 49
push constant 12
push constant 14
push constant 15
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto NAEqHIpqxRRXneaDYMjF
label NAEqHIpqxRRXneaDYMjF
push constant 50
push constant 30
push constant 51
push constant 48
push constant 24
push constant 12
push constant 6
push constant 3
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto vAhNOMtfNjLNwoWoIzNr
label vAhNOMtfNjLNwoWoIzNr
push constant 51
push constant 30
push constant 51
push constant 48
push constant 48
push constant 28
push constant 48
push constant 48
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto bnJUqIsPjXBKibLrQypV
label bnJUqIsPjXBKibLrQypV
push constant 52
push constant 16
push constant 24
push constant 28
push constant 26
push constant 25
push constant 63
push constant 24
push constant 24
push constant 60
push constant 0
push constant 0
call Output.create 12
if-goto gbeWhcHRhXfvZfiPjzLg
label gbeWhcHRhXfvZfiPjzLg
push constant 53
push constant 63
push constant 3
push constant 3
push constant 31
push constant 48
push constant 48
push constant 48
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto fpsClTJZOQUZJocbiFjV
label fpsClTJZOQUZJocbiFjV
push constant 54
push constant 28
push constant 6
push constant 3
push constant 3
push constant 31
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto MiyuxjHPqRcyWcSbdHTA
label MiyuxjHPqRcyWcSbdHTA
push constant 55
push constant 63
push constant 49
push constant 48
push constant 48
push constant 24
push constant 12
push constant 12
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto UVReQbDzRCIzpIICubNZ
label UVReQbDzRCIzpIICubNZ
push constant 56
push constant 30
push constant 51
push constant 51
push constant 51
push constant 30
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto hemhCuSxyKWqMoMOCOEP
label hemhCuSxyKWqMoMOCOEP
push constant 57
push constant 30
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 48
push constant 24
push constant 14
push constant 0
push constant 0
call Output.create 12
if-goto OXyxfNjQuNnUSpbmNoMD
label OXyxfNjQuNnUSpbmNoMD
push constant 58
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto NcFZXhKQVfJKgwFSnzLu
label NcFZXhKQVfJKgwFSnzLu
push constant 59
push constant 0
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
push constant 12
push constant 12
push constant 6
push constant 0
push constant 0
call Output.create 12
if-goto qPimuByPhDKZlfcvGzNP
label qPimuByPhDKZlfcvGzNP
push constant 60
push constant 0
push constant 0
push constant 24
push constant 12
push constant 6
push constant 3
push constant 6
push constant 12
push constant 24
push constant 0
push constant 0
call Output.create 12
if-goto XTVcYZiUFFeqhLXETYEx
label XTVcYZiUFFeqhLXETYEx
push constant 61
push constant 0
push constant 0
push constant 0
push constant 63
push constant 0
push constant 0
push constant 63
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto xIOnMfhKAqcZlxhAOLoa
label xIOnMfhKAqcZlxhAOLoa
push constant 62
push constant 0
push constant 0
push constant 3
push constant 6
push constant 12
push constant 24
push constant 12
push constant 6
push constant 3
push constant 0
push constant 0
call Output.create 12
if-goto bxMgzqCtwZlIYHjPzKyE
label bxMgzqCtwZlIYHjPzKyE
push constant 64
push constant 30
push constant 51
push constant 51
push constant 59
push constant 59
push constant 59
push constant 27
push constant 3
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto nZTIATAscwtbiSVDCPrI
label nZTIATAscwtbiSVDCPrI
push constant 63
push constant 30
push constant 51
push constant 51
push constant 24
push constant 12
push constant 12
push constant 0
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto piNpuqbESUKENQKRMyqL
label piNpuqbESUKENQKRMyqL
push constant 65
push constant 12
push constant 30
push constant 51
push constant 51
push constant 63
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto BCbWrbFWTfUTAcsxzsuc
label BCbWrbFWTfUTAcsxzsuc
push constant 66
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 0
push constant 0
call Output.create 12
if-goto ZpDgAfIeaEhgoAqZmlMU
label ZpDgAfIeaEhgoAqZmlMU
push constant 67
push constant 28
push constant 54
push constant 35
push constant 3
push constant 3
push constant 3
push constant 35
push constant 54
push constant 28
push constant 0
push constant 0
call Output.create 12
if-goto FEezPjUQjHWiRVClkWjC
label FEezPjUQjHWiRVClkWjC
push constant 68
push constant 15
push constant 27
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 27
push constant 15
push constant 0
push constant 0
call Output.create 12
if-goto stoMJxLaSxeglxwlcPdg
label stoMJxLaSxeglxwlcPdg
push constant 69
push constant 63
push constant 51
push constant 35
push constant 11
push constant 15
push constant 11
push constant 35
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto jLfWargwikehxQgaBszJ
label jLfWargwikehxQgaBszJ
push constant 70
push constant 63
push constant 51
push constant 35
push constant 11
push constant 15
push constant 11
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
call Output.create 12
if-goto edeygZjyXgyrJMQMakWd
label edeygZjyXgyrJMQMakWd
push constant 71
push constant 28
push constant 54
push constant 35
push constant 3
push constant 59
push constant 51
push constant 51
push constant 54
push constant 44
push constant 0
push constant 0
call Output.create 12
if-goto ofrWZLsbIZbWDTngBKLF
label ofrWZLsbIZbWDTngBKLF
push constant 72
push constant 51
push constant 51
push constant 51
push constant 51
push constant 63
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto HInANqmQOgMhkFHtqgmt
label HInANqmQOgMhkFHtqgmt
push constant 73
push constant 30
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto RFtWtdoxnRVwMAXdJIsU
label RFtWtdoxnRVwMAXdJIsU
push constant 74
push constant 60
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 27
push constant 27
push constant 14
push constant 0
push constant 0
call Output.create 12
if-goto cpAzbOxUPiOdrMmsSUmZ
label cpAzbOxUPiOdrMmsSUmZ
push constant 75
push constant 51
push constant 51
push constant 51
push constant 27
push constant 15
push constant 27
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto IAgfiZwtDDwRxhSFQEhl
label IAgfiZwtDDwRxhSFQEhl
push constant 76
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 35
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto jmAIInvAnejqpiGFySpd
label jmAIInvAnejqpiGFySpd
push constant 77
push constant 33
push constant 51
push constant 63
push constant 63
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto eisxGitMeisTRhXvEWhh
label eisxGitMeisTRhXvEWhh
push constant 78
push constant 51
push constant 51
push constant 55
push constant 55
push constant 63
push constant 59
push constant 59
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto INBafXnVlAOOLuTdOTli
label INBafXnVlAOOLuTdOTli
push constant 79
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto stdpVCdPVnyVJVmOTdFP
label stdpVCdPVnyVJVmOTdFP
push constant 80
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 3
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
call Output.create 12
if-goto KZnHdLJNfFMLfSLUJBOH
label KZnHdLJNfFMLfSLUJBOH
push constant 81
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 63
push constant 59
push constant 30
push constant 48
push constant 0
call Output.create 12
if-goto AppRxppHzueuEamxYGlS
label AppRxppHzueuEamxYGlS
push constant 82
push constant 31
push constant 51
push constant 51
push constant 51
push constant 31
push constant 27
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto ZmUqdbDiOXMeCgTjzLIf
label ZmUqdbDiOXMeCgTjzLIf
push constant 83
push constant 30
push constant 51
push constant 51
push constant 6
push constant 28
push constant 48
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto tYeiuDsEATKPEmChmFOX
label tYeiuDsEATKPEmChmFOX
push constant 84
push constant 63
push constant 63
push constant 45
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto dMfZTtanIUGYLXsWIsRc
label dMfZTtanIUGYLXsWIsRc
push constant 85
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto qJCKBEYppRbyMbJOHPLE
label qJCKBEYppRbyMbJOHPLE
push constant 86
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 30
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto LGdZlsdevXuskQvSjNPR
label LGdZlsdevXuskQvSjNPR
push constant 87
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 63
push constant 63
push constant 63
push constant 18
push constant 0
push constant 0
call Output.create 12
if-goto OlSQSiorgWCVJruNtGIh
label OlSQSiorgWCVJruNtGIh
push constant 88
push constant 51
push constant 51
push constant 30
push constant 30
push constant 12
push constant 30
push constant 30
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto LVXMSTzjTCNIYaYuTfIn
label LVXMSTzjTCNIYaYuTfIn
push constant 89
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto dJpaMNFxdrVrctLMXTeL
label dJpaMNFxdrVrctLMXTeL
push constant 90
push constant 63
push constant 51
push constant 49
push constant 24
push constant 12
push constant 6
push constant 35
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto kYMKQANiZMvDjIDSbvNj
label kYMKQANiZMvDjIDSbvNj
push constant 91
push constant 30
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 6
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto uCrtXlVTYpyzzPZzFIGk
label uCrtXlVTYpyzzPZzFIGk
push constant 92
push constant 0
push constant 0
push constant 1
push constant 3
push constant 6
push constant 12
push constant 24
push constant 48
push constant 32
push constant 0
push constant 0
call Output.create 12
if-goto BXggRFtrYlcZrusvGnKq
label BXggRFtrYlcZrusvGnKq
push constant 93
push constant 30
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 24
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto qDjsSuslOimXZAvLASpk
label qDjsSuslOimXZAvLASpk
push constant 94
push constant 8
push constant 28
push constant 54
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto PDUbyqokjTnsIkcRqhdt
label PDUbyqokjTnsIkcRqhdt
push constant 95
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 63
push constant 0
call Output.create 12
if-goto QKFhTULpegPjeoAgyktl
label QKFhTULpegPjeoAgyktl
push constant 96
push constant 6
push constant 12
push constant 24
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto djjGApjalQYrzZntwyIi
label djjGApjalQYrzZntwyIi
push constant 97
push constant 0
push constant 0
push constant 0
push constant 14
push constant 24
push constant 30
push constant 27
push constant 27
push constant 54
push constant 0
push constant 0
call Output.create 12
if-goto JyNPgLpjjZQQrMkVOAgp
label JyNPgLpjjZQQrMkVOAgp
push constant 98
push constant 3
push constant 3
push constant 3
push constant 15
push constant 27
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto jqiKHnmTyuXlhxArFjnx
label jqiKHnmTyuXlhxArFjnx
push constant 99
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 3
push constant 3
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto wkvpzpNmRMlimikcdcQt
label wkvpzpNmRMlimikcdcQt
push constant 100
push constant 48
push constant 48
push constant 48
push constant 60
push constant 54
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto JoTPrpLSPWMkSWppFmFz
label JoTPrpLSPWMkSWppFmFz
push constant 101
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 63
push constant 3
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto sJmiuSIpbLbzqaZVdpxf
label sJmiuSIpbLbzqaZVdpxf
push constant 102
push constant 28
push constant 54
push constant 38
push constant 6
push constant 15
push constant 6
push constant 6
push constant 6
push constant 15
push constant 0
push constant 0
call Output.create 12
if-goto wJZqqVSlkQtEEDgenqOl
label wJZqqVSlkQtEEDgenqOl
push constant 103
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 51
push constant 30
push constant 0
call Output.create 12
if-goto wpUucGCDXtGOAFSHQUgB
label wpUucGCDXtGOAFSHQUgB
push constant 104
push constant 3
push constant 3
push constant 3
push constant 27
push constant 55
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto WyvbyabOoqKoGGMaUNtM
label WyvbyabOoqKoGGMaUNtM
push constant 105
push constant 12
push constant 12
push constant 0
push constant 14
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto lDSJxrAJZZLRUMTTCfnI
label lDSJxrAJZZLRUMTTCfnI
push constant 106
push constant 48
push constant 48
push constant 0
push constant 56
push constant 48
push constant 48
push constant 48
push constant 48
push constant 51
push constant 30
push constant 0
call Output.create 12
if-goto HohwCqcGJUlGTDfrHzYQ
label HohwCqcGJUlGTDfrHzYQ
push constant 107
push constant 3
push constant 3
push constant 3
push constant 51
push constant 27
push constant 15
push constant 15
push constant 27
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto VQSqrrjyoQLAGNUiSlMD
label VQSqrrjyoQLAGNUiSlMD
push constant 108
push constant 14
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto YkBGPlcVTCCQKyqDitZJ
label YkBGPlcVTCCQKyqDitZJ
push constant 109
push constant 0
push constant 0
push constant 0
push constant 29
push constant 63
push constant 43
push constant 43
push constant 43
push constant 43
push constant 0
push constant 0
call Output.create 12
if-goto vQeEDsJLyBktJndhVuFA
label vQeEDsJLyBktJndhVuFA
push constant 110
push constant 0
push constant 0
push constant 0
push constant 29
push constant 51
push constant 51
push constant 51
push constant 51
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto giUhBxGrCmiKytUjvGQS
label giUhBxGrCmiKytUjvGQS
push constant 111
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto tLfPGxKlEFvEZcPcsLsl
label tLfPGxKlEFvEZcPcsLsl
push constant 112
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 31
push constant 3
push constant 3
push constant 0
call Output.create 12
if-goto TOjfjlzQMQleHTWDLqeC
label TOjfjlzQMQleHTWDLqeC
push constant 113
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 48
push constant 0
call Output.create 12
if-goto vjItFVACkeQTyNsAFXEM
label vjItFVACkeQTyNsAFXEM
push constant 114
push constant 0
push constant 0
push constant 0
push constant 29
push constant 55
push constant 51
push constant 3
push constant 3
push constant 7
push constant 0
push constant 0
call Output.create 12
if-goto gEILkWAdzdzVSgecrbtz
label gEILkWAdzdzVSgecrbtz
push constant 115
push constant 0
push constant 0
push constant 0
push constant 30
push constant 51
push constant 6
push constant 24
push constant 51
push constant 30
push constant 0
push constant 0
call Output.create 12
if-goto POplrtKQWkZdeiYJSBhz
label POplrtKQWkZdeiYJSBhz
push constant 116
push constant 4
push constant 6
push constant 6
push constant 15
push constant 6
push constant 6
push constant 6
push constant 54
push constant 28
push constant 0
push constant 0
call Output.create 12
if-goto uuPYZTsXHUWhGTkccjIt
label uuPYZTsXHUWhGTkccjIt
push constant 117
push constant 0
push constant 0
push constant 0
push constant 27
push constant 27
push constant 27
push constant 27
push constant 27
push constant 54
push constant 0
push constant 0
call Output.create 12
if-goto ZNBfJYpzNolhKRriYFKp
label ZNBfJYpzNolhKRriYFKp
push constant 118
push constant 0
push constant 0
push constant 0
push constant 51
push constant 51
push constant 51
push constant 51
push constant 30
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto pAyvyUVjXFIPCeMjLObn
label pAyvyUVjXFIPCeMjLObn
push constant 119
push constant 0
push constant 0
push constant 0
push constant 51
push constant 51
push constant 51
push constant 63
push constant 63
push constant 18
push constant 0
push constant 0
call Output.create 12
if-goto BXFuyMarMUwOPRBmbtJn
label BXFuyMarMUwOPRBmbtJn
push constant 120
push constant 0
push constant 0
push constant 0
push constant 51
push constant 30
push constant 12
push constant 12
push constant 30
push constant 51
push constant 0
push constant 0
call Output.create 12
if-goto fByHbmQVTuLGSJuJNQYk
label fByHbmQVTuLGSJuJNQYk
push constant 121
push constant 0
push constant 0
push constant 0
push constant 51
push constant 51
push constant 51
push constant 62
push constant 48
push constant 24
push constant 15
push constant 0
call Output.create 12
if-goto lXlGYSAbQnISEcSiFHpC
label lXlGYSAbQnISEcSiFHpC
push constant 122
push constant 0
push constant 0
push constant 0
push constant 63
push constant 27
push constant 12
push constant 6
push constant 51
push constant 63
push constant 0
push constant 0
call Output.create 12
if-goto njgZqyUexjiUPxsXArNs
label njgZqyUexjiUPxsXArNs
push constant 123
push constant 56
push constant 12
push constant 12
push constant 12
push constant 7
push constant 12
push constant 12
push constant 12
push constant 56
push constant 0
push constant 0
call Output.create 12
if-goto ZIFeiTzkTCyJJFpGnfAw
label ZIFeiTzkTCyJJFpGnfAw
push constant 124
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 12
push constant 0
push constant 0
call Output.create 12
if-goto IohVdrSFacHyrARCyCsx
label IohVdrSFacHyrARCyCsx
push constant 125
push constant 7
push constant 12
push constant 12
push constant 12
push constant 56
push constant 12
push constant 12
push constant 12
push constant 7
push constant 0
push constant 0
call Output.create 12
if-goto OCgLGTcvBNrOsrYikhsp
label OCgLGTcvBNrOsrYikhsp
push constant 126
push constant 38
push constant 45
push constant 25
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Output.create 12
if-goto BWaQzQSlGaXwGHriOaJH
label BWaQzQSlGaXwGHriOaJH
push constant 0
return
function Output.create 1
push constant 11
call Array.new 1
pop local 0
push local 0
push static 0
push argument 0
add
pop pointer 1
pop that 0
push argument 1
push local 0
push constant 0
add
pop pointer 1
pop that 0
push argument 2
push local 0
push constant 1
add
pop pointer 1
pop that 0
push argument 3
push local 0
push constant 2
add
pop pointer 1
pop that 0
push argument 4
push local 0
push constant 3
add
pop pointer 1
pop that 0
push argument 5
push local 0
push constant 4
add
pop pointer 1
pop that 0
push argument 6
push local 0
push constant 5
add
pop pointer 1
pop that 0
push argument 7
push local 0
push constant 6
add
pop pointer 1
pop that 0
push argument 8
push local 0
push constant 7
add
pop pointer 1
pop that 0
push argument 9
push local 0
push constant 8
add
pop pointer 1
pop that 0
push argument 10
push local 0
push constant 9
add
pop pointer 1
pop that 0
push argument 11
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 0
return
function Output.getMap 0
push argument 0
push constant 32
lt
push argument 0
push constant 126
gt
or
not
if-goto OmMsTsUKMnEeelutBfWg
push constant 0
pop argument 0
goto MnhwgavGwERofaCesOUM
label OmMsTsUKMnEeelutBfWg
label MnhwgavGwERofaCesOUM
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Output.moveCursor 7
push argument 0
pop static 1
push argument 1
pop static 2
push static 1
push constant 11
call Math.multiply 2
pop local 1
push static 2
push constant 2
call Math.divide 2
pop local 2
push static 2
push constant 1
and
push constant 0
eq
not
if-goto YlBPZbvWxCzdJGNqMvZf
push constant 255
pop local 3
push local 3
not
pop local 3
push constant 1
pop local 4
goto rjHRLhLiglwSYXUdwhbT
label YlBPZbvWxCzdJGNqMvZf
push constant 255
pop local 3
push constant 256
pop local 4
label rjHRLhLiglwSYXUdwhbT
label bZoOUIAkgoLVmWrzzUVV
push local 0
push constant 11
lt
not
if-goto fgraWtfCFwnwbBTRZzXx
push constant 16384
push local 1
push constant 32
call Math.multiply 2
add
push local 2
add
pop local 5
push local 5
call Memory.peek 1
pop local 6
push local 6
push local 3
and
push constant 0
push local 4
call Math.multiply 2
add
pop local 6
push local 5
push local 6
call Memory.poke 2
if-goto UtvJuWAnnOFlLupFSFAS
label UtvJuWAnnOFlLupFSFAS
push local 1
push constant 1
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto bZoOUIAkgoLVmWrzzUVV
label fgraWtfCFwnwbBTRZzXx
push constant 0
return
function Output.printChar 10
push argument 0
call String.newLine 0
eq
not
if-goto ulGjzskIvBDjNXhLgLYX
call Output.println 0
if-goto cJRJhAVryMHsFYgiiHsP
label cJRJhAVryMHsFYgiiHsP
push constant 0
return
goto fMmBwFxYIirDvHCzmVnq
label ulGjzskIvBDjNXhLgLYX
label fMmBwFxYIirDvHCzmVnq
push argument 0
call String.backSpace 0
eq
not
if-goto PoBmHYkKiRUvgkgnEaVl
call Output.backSpace 0
if-goto TDwsgzeMOQfNnbfwCeTX
label TDwsgzeMOQfNnbfwCeTX
push constant 0
return
goto ZKNDwyUosmpSzSaEJrwR
label PoBmHYkKiRUvgkgnEaVl
label ZKNDwyUosmpSzSaEJrwR
push argument 0
call Output.getMap 1
pop local 1
push static 1
push constant 11
call Math.multiply 2
pop local 4
push static 2
push constant 2
call Math.divide 2
pop local 5
push static 2
push constant 1
and
push constant 0
eq
not
if-goto pCwPGqaYQLVDYfHJwOLd
push constant 255
pop local 2
push local 2
not
pop local 2
push constant 1
pop local 3
goto YdhWZFQiLyswaZRUsefK
label pCwPGqaYQLVDYfHJwOLd
push constant 255
pop local 2
push constant 256
pop local 3
label YdhWZFQiLyswaZRUsefK
label FppUZcozYakxtGxQXgcF
push local 0
push constant 11
lt
not
if-goto AAYLnINtjHnTdxthjyVZ
push constant 16384
push local 4
push constant 32
call Math.multiply 2
add
push local 5
add
pop local 6
push local 6
call Memory.peek 1
pop local 7
push local 7
push local 2
and
push local 1
push local 0
add
pop pointer 1
push that 0
push local 3
call Math.multiply 2
add
pop local 7
push local 6
push local 7
call Memory.poke 2
if-goto bNBQqPnlPoxqGTwdNFWt
label bNBQqPnlPoxqGTwdNFWt
push local 4
push constant 1
add
pop local 4
push local 0
push constant 1
add
pop local 0
goto FppUZcozYakxtGxQXgcF
label AAYLnINtjHnTdxthjyVZ
push static 2
push constant 63
eq
not
if-goto eoEJNOlyERrYHoDLJqeB
push static 1
push constant 1
add
pop local 8
push constant 0
pop local 9
goto uAYkMYGDuWClvBolDsOX
label eoEJNOlyERrYHoDLJqeB
push static 1
pop local 8
push static 2
push constant 1
add
pop local 9
label uAYkMYGDuWClvBolDsOX
push local 8
push constant 23
eq
not
if-goto wXIiBtYaqCwlyzYHPRoi
push constant 0
pop local 8
goto KsGmVtAoTHSWXXgcfipW
label wXIiBtYaqCwlyzYHPRoi
label KsGmVtAoTHSWXXgcfipW
push local 8
push local 9
call Output.moveCursor 2
if-goto XZZtmaSgmtMVpLWBCTdU
label XZZtmaSgmtMVpLWBCTdU
push constant 0
return
function Output.printString 2
push argument 0
call String.length 1
pop local 1
label cXuueahmGeGzFoyQSlwo
push local 0
push local 1
lt
not
if-goto oNcARPtxXbKaMhzfQJBK
push argument 0
push local 0
call String.charAt 2
call Output.printChar 1
if-goto nmkWFaLsMtnEbqJZYCqb
label nmkWFaLsMtnEbqJZYCqb
push local 0
push constant 1
add
pop local 0
goto cXuueahmGeGzFoyQSlwo
label oNcARPtxXbKaMhzfQJBK
push constant 0
return
function Output.printInt 1
push constant 6
call String.new 1
pop local 0
push local 0
push argument 0
call String.setInt 2
if-goto GYWPpgcCdNyXivmiXtpI
label GYWPpgcCdNyXivmiXtpI
push local 0
call Output.printString 1
if-goto EiLXxyihgxLtgFjTmlRk
label EiLXxyihgxLtgFjTmlRk
push constant 0
return
function Output.println 1
push static 1
push constant 1
add
pop local 0
push local 0
push constant 23
eq
not
if-goto rOAZULRVGyAbWqfLMxPP
push constant 0
pop local 0
goto yRNYAgYuuYmtcLFcrdTJ
label rOAZULRVGyAbWqfLMxPP
label yRNYAgYuuYmtcLFcrdTJ
push local 0
push constant 0
call Output.moveCursor 2
if-goto QRSLkKcIooSrSHDJZUjb
label QRSLkKcIooSrSHDJZUjb
push constant 0
return
function Output.backSpace 2
push static 2
push constant 0
eq
not
if-goto UQEewZVCbDXmrYdxeuZH
push static 1
push constant 1
sub
pop local 0
push constant 63
pop local 1
goto wKvqzIovrbwBCPsGCUOH
label UQEewZVCbDXmrYdxeuZH
push static 1
pop local 0
push static 2
push constant 1
sub
pop local 1
label wKvqzIovrbwBCPsGCUOH
push local 0
push constant 0
lt
not
if-goto WGgjAyIyosxoKRQYFbuu
push local 0
push constant 23
add
pop local 0
goto VcraRmbLwYGfrGIFxUeG
label WGgjAyIyosxoKRQYFbuu
label VcraRmbLwYGfrGIFxUeG
push local 0
push local 1
call Output.moveCursor 2
if-goto JzQMItJNdeDImAUgRmCD
label JzQMItJNdeDImAUgRmCD
push constant 0
return
